*{padding:0;margin:0}
a:link{color:black; text-decoration: none;}
a:visited{color:black; text-decoration: none;}
a:hover{color:black; text-decoration: underline;}
li{list-style: none;}
body{
	background-color: #FFFFFF;
}
.mainNavBar{
	width : 83.34%;
	height: 135px;
	margin-left: 8.33%;
	margin-right: 8.33%;
	margin-top: 10px;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 95px 40px;
	grid-column-gap: 5%;
}
.mainNavBar li{
	text-align: center;
}
.mainNavBar #img{
	grid-column: 3/4;
	grid-row: 1/3;
}
.mainNavBar img{
	width: 135px;
	grid-column: 3/4;
	grid-row: 1/3;
}
.mainNavBar #loginBox{
	grid-row: 1/2;
	grid-column: 5/6;
	font-family: Outfit;
}
.mainNavBar #loginBox #logout{
	width: 113px;
	height: 20px;
	float: right;
	margin-top: 15px;
	background-color: #AAD9D9;
	border-radius: 15px;
	cursor: pointer;
}
.mainNavBar #text{
	grid-row: 2/3;
	display: grid;
	align-items: end;
}
.mainNavBar #text div{
	background-color: #D9D9D9;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	font-family: Outfit;
	font-size: 20px;
	text-align: center;
	display: grid;
	align-items: center;
}

.mainContent1{
	width: 83.34%;
	margin-left: 8.33%;
	margin-right: 8.33%;
	margin-top: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.mainContent1 img{
	width: 100%;
	border-radius: 30px;
}
.mainContent1 #text{
	width: 100%;
	display: grid;
	place-items: center;
}
.mainContent1 #text div{
	width: 90%;
	font-family: Overlock SC;
	font-size: 50px;
	text-align: center;
}

.mainContent2{
	width: 83.34%;
	margin-left: 8.33%;
	margin-right: 8.33%;
	margin-top: 180px;
	display: grid;
	grid-template-columns: 2fr 3fr;
}
.mainContent2 img{
	width: 100%;
}
.mainContent2 #text{
	width: 100%;
	display: grid;
	place-items: center;
}
.mainContent2 #text div{
	width: 90%;
	font-family: Overlock SC;
	color: #9F2230;
	font-size: 38px;
	text-align: center;
}

.mainContent3{
	width: 83.34%;
	height: 40px;
	margin-top: 90px;
	border-bottom: 2px solid black;
}
.mainContent3 div{
	width: 30%;
	margin-left: 70%;
}
.mainContent3 .informationBar{
	width: 100%;
	display: grid;
	grid-template-columns: 7fr 1fr;
}
.mainContent3 .informationBar #text{
	font-family: Overlock SC;
	font-size: 20px;
	display: grid;
	align-items: center;
	justify-items: end;
}
.mainContent3 .informationBar img{
	width: 40px;
}
.mainContent3Sub{
	width: 100%;
	margin-top: 40px;
}
.mainContent3Sub ul{
	width: 87.5%;
	height: 250px;
	margin-left: 4.17%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10%;
}
.mainContent3Sub li{
	height: 250px;
	background-color: #D9D9D9;
	border-radius: 15px;
}

.mainContent4{
	width: 83.4%;
	margin-left: 16.6%;
	margin-top: 90px;
	height: 40px;
	border-bottom: 2px solid black;
}
.mainContent4 div{
	width: 20%;
}
.mainContent4 .communityBar{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 5fr;
}
.mainContent4 .communityBar #text{
	font-family: Overlock SC;
	font-size: 20px;
	display: grid;
	align-items: center;
}
.mainContent4 .communityBar img{
	width: 40px;
}
.mainContent4Sub{
	width: 100%;
	margin-top: 40px;
}
.mainContent4Sub ul{
	width: 87.5%;
	height: 250px;
	margin-left: 8.34%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10%;
}
.mainContent4Sub li{
	height: 250px;
	background-color: #D9D9D9;
	border-radius: 15px;
}

.mainContent5{
	width : 83.34%;
	margin-left: 8.33%;
	margin-right: 8.33%;
	margin-top: 150px;
	height: 570px;
	border-radius: 40px;
	background: linear-gradient(45deg, #BE57637A, #AAD9D9);
	margin-bottom: 100px;
}
.mainContent5 #text1{
	padding-top: 45px;
	font-family: Outfit;
	font-size: 40px;
	text-align: center;
}
.mainContent5 #text2{
	width: 78%;
	padding-left: 11%;
	padding-right: 11%;
	padding-top: 50px;
	font-family: Outfit;
	font-size: 65px;
	text-align: center;
	background-image: url("mainPageImg2.jpg");
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.mainContent5 #signInBox{
	width: 20%;
	padding-left: 40%;
	padding-right: 40%;
	margin-top: 60px;
}
.mainContent5 #signInBox div{
	height: 50px;
	font-family: Outfit;
	font-size: 20px;
	display: grid;
	place-items: center;
	background-color: #80CAFF;
	border-radius: 30px;
}