*{padding:0;margin:0}
a:link{color:black; text-decoration: none;}
a:visited{color:black; text-decoration: none;}
a:hover{color:black; text-decoration: underline;}
li{list-style: none;}
body{
	background-color: #FFFFFF;
}
.mainNavBar{
	width : 83.34%;
	height: 135px;
	margin-left: 8.33%;
	margin-right: 8.33%;
	margin-top: 10px;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 95px 40px;
	grid-column-gap: 5%;
}
.mainNavBar li{
	text-align: center;
}
.mainNavBar #logo{
	grid-column: 3/4;
	grid-row: 1/2;
	font-family: Outfit;
	font-size: 35px;
	font-weight: 800;
}
.mainNavBar #logo div{
	padding-top: 10px;
}
.mainNavBar #logo div span{
	color: #9F2230;
}
.mainNavBar #logo a:hover{color: black; text-decoration: none;}
.mainNavBar #loginBox{
	grid-row: 1/2;
	grid-column: 5/6;
	font-family: Outfit;
}
.mainNavBar #loginBox #logout{
	width: 113px;
	height: 20px;
	float: right;
	margin-top: 15px;
	background-color: #AAD9D9;
	border-radius: 15px;
	cursor: pointer;
}
.mainNavBar .text{
	grid-row: 2/3;
	display: grid;
	align-items: end;
}
.mainNavBar .text div{
	background-color: #D9D9D9;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	font-family: Outfit;
	font-size: 20px;
	text-align: center;
	display: grid;
	align-items: center;
}
.mainNavBar #schoolLife{
	grid-column: 4/5;
}
.mainNavBar #faq{
	grid-column: 5/6;
}

.titleContainer{
	width: 83.34%;
	height: 40px;
	margin-left: 8.33%;
	margin-right: 8.33%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5%;
}
.titleContainer .title{
	grid-column: 1/2;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-color: #AAD9D9;
	font-family: Outfit;
	font-size: 20px;
	display: grid;
	place-items: center;
}

.mainContent{
	width: 83.34%;
	margin-left: 8.33%;
	margin-right: 8.33%;
	border-top: 2px solid black;
	font-family: Outfit;
}
.mainContent .titleWriting{
	width: 100%;
	height: 50px;
	display: grid;
	grid-template-columns: 8fr 1fr 1fr;
}
.mainContent .titleWriting #contentTitle{
	padding-left: 1%;
	font-family: Outfit;
	font-size: 27px;
	border: none;
	outline: none;
	display: grid;
	align-items: center;
}
.mainContent .titleWriting .auto{
	display: grid;
	place-items: center;
	font-size: 15px;
}
.mainContent .content{
	width: 100%;
	height: auto;
	border-top: 2px solid #D9D9D9;
}
.mainContent .content #text{
	width: 99%;
	height: 300px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	font-family: Outfit;
	font-size: 22px;
	border: none;
	outline: none;
	display: block;
	padding: 5px;
	line-height: 1.5;
	vertical-align: top;
	resize: none;
	border-bottom: 2px solid black;
}
.mainContent .content .comments{
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #D9D9D9;
}
.mainContent .content .comments #id{
	font-size: 20px;
}
.mainContent .content .publishBigContainer{
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	border-bottom: 2px solid #D9D9D9;
}
.mainContent .content .publishBigContainer #comments{
	width: 80%;
	height: 20px;
	text-align: center;
	background-color: #D9D9D9;
	border-radius: 15px;
}
.mainContent .content .publishBigContainer .publishContainer{
	width: 100%;
	height: 80px;
	background-color: #D9D9D9;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 7fr 1fr;
}
.mainContent .content .publishBigContainer .publishContainer #chat{
	width: 99%;
	height: 99.5%;
	padding-top: 0.5%;
	padding-left: 1%;
	background-color: transparent;
	font-family: Outfit;
	font-size: 22px;
	border: none;
	outline: none;
	resize: none;
	vertical-align: middle;
}
.mainContent .content .publishBigContainer .publishContainer #publish{
	grid-column: 2/3;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 64px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #ACD0D1;
	border-radius: 15px;
	font-size: 15px;
	display: grid;
	place-items: center;
	cursor: pointer;
}
.mainContent .content .publishBigContainer #report{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 64px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #9F2230;
	border-radius: 15px;
	display: grid;
	place-items: center;
}